.container{
    min-height: 877px;
    @include flex;
    align-items: center;
    h1{
        text-align: center;
        padding:25px;
    }
}
.main{
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    .cbo-group{
        .group1,
        .group2{
            padding: 10px;
        }
        .con{
            display: flex;
            padding: 10px;
        }
        .con1{
            display: flex;
            padding: 10px 20px;
        }
    }
    .btn-group{
        padding: 10px;
    }
}


